[Unit]
#OnFailure=server-fail-handle@%N.service

[Service]
LimitNOFILE=1048576
WorkingDirectory=/data/app/forgeturl-server/prod/main
Environment=RUN_TIME=onl
Environment=APP_NAME=forgeturl-server-prod
ExecStart=/data/app/forgeturl-server/prod/main/forgeturl-server api start
Restart=always

[Install]
WantedBy=default.target